<h3 class="h-left-nav-title">Integration Control Panel</h3>
<!--p><strong>TIP:</strong> Activating/De-activating</p-->

<div class="hr-sep-2">&nbsp;</div>
<div><a href="/publisher/asts/dish/details/{{assets.id}}" type="button" class="btn-configure">Configure</a></div>
<div class="btn-group-xx">
    {{#if assets.isTaskRunning}}
        <button class="btn-action btn-activated" id="btn-deactivate" type="button"
                onclick="confirm_deactivate('{{assets.name}}', '{{assets.id}}');">Deactivate
        </button>
    {{else}}
        <button class="btn-action btn-deactivated" id="btn-activate" type="button"
                onclick="confirm_activate('{{assets.name}}', '{{assets.id}}');">Activate
        </button>
    {{/if}}

    <div class="hr-sep-2">&nbsp;</div>
    <button class="btn-action btn-alt-actionsx btn-delete-cp" id="btn-belete" type="button"
            onclick="confirm_delete('{{assets.name}}', '{{assets.id}}');">Delete this Integration
    </button>
</div>


<script>
    var confirm_activate = function (name, id) {
        bootbox.confirm("<p class='modal-msg'> Activate this Integration?</p>", function (result) {

            if (result) {
                window.location.href = "/publisher/asts/dish/apis/manage_task/activate?dishName=" + name + "&id=" + id;
            }
        });
    };

    var confirm_deactivate = function (name, id) {
        bootbox.confirm("<p class='modal-msg'>Deactivate this Integration?</p>", function (result) {

            if (result) {
                window.location.href = "/publisher/asts/dish/apis/manage_task/deactivate?dishName=" + name + "&id=" + id;
            }
        });
    };

    var confirm_delete = function (name, id) {
        bootbox.confirm("<p class='modal-msg'>Delete this Integration?</p><p style='margin-left:10px; font-size:14px; font-weight:200'>Confirming this will completely wipe out the integration, including the configuration details associated. ", function (result) {

            if (result) {
                window.location.href = "/publisher/asts/dish/apis/manage_task/delete?dishName=" + name + "&id=" + id;
            }
        });
    };
</script>
