<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar affix-top">
        <div class="wr-action-container">
            <div class="wr-action-btn-bar">
                <a class="cu-btn page-title" href="../dashboard">
                    <span class="fw-stack"></span>
                    Dashboard
                </a><a id="{{this.id}}" href='/publisher/assets/dish/details/{{assets.id}}' class="cu-btn {{this.iconClass}}">
						<span class="fw-stack">
							<i class="fw fw-ring fw-stack-2x"></i>
							<i class="fw fw-settings fw-stack-1x"></i>
						</span>
						Configure
				</a>
                {{#if assets.isTaskRunning}}
                            <a class="cu-btn {{this.iconClass}}" id="btn-deactivate"
                               onclick="confirm_deactivate('{{assets.name}}', '{{assets.id}}');">
							<span class="fw-stack">
								<i class="fw fw-ring fw-stack-2x"></i>
								<i class="fw fw-block fw-stack-1x"></i>
							</span>							
							Deactivate
                            </a>
                        {{else}}
                            {{#if assets.isNTaskExist}}
                                <a class="cu-btn {{this.iconClass}}" id="btn-activate"
                                   onclick="confirm_activate('{{assets.name}}', '{{assets.id}}');">
								<span class="fw-stack">
									<i class="fw fw-ring fw-stack-2x"></i>
									<i class="fw fw-check fw-stack-1x"></i>
								</span>
                                    Activate
                                </a>
                            {{else}}
                            {{/if}}
                        {{/if}}
                        <a class="cu-btn {{this.iconClass}}" id="btn-belete" type="button"
                           onclick="confirm_delete('{{assets.name}}', '{{assets.id}}');">
								<span class="fw-stack">
									<i class="fw fw-ring fw-stack-2x"></i>
									<i class="fw fw-delete fw-stack-1x"></i>
								</span> 
							Delete this Integration
                        </a>						
				
            </div>
        </div>
    </div>
</div>



<script>
    var confirm_activate = function (name, id) {
        bootbox.confirm("<p class='modal-msg'> Activate this Integration?</p>", function (result) {

            if (result) {
                changeDishLifeCycle(id, 'active');
                window.location.href = "/publisher/assets/dish/apis/manage_task/activate?dishName=" + name + "&id=" + id;
            }
        });
    };

    var confirm_deactivate = function (name, id) {
        bootbox.confirm("<p class='modal-msg'>Deactivate this Integration?</p>", function (result) {

            if (result) {
                changeDishLifeCycle(id, 'deactive');
                window.location.href = "/publisher/assets/dish/apis/manage_task/deactivate?dishName=" + name + "&id=" + id;
            }
        });
    };

    var confirm_delete = function (name, id) {
        bootbox.confirm("<p class='modal-msg'>Delete this Integration?</p><p style='margin-left:10px; font-size:14px; font-weight:200'>Confirming this will completely wipe out the integration, including the configuration details associated. ", function (result) {

            if (result) {
                window.location.href = "/publisher/assets/dish/apis/manage_task/delete?dishName=" + name + "&id=" + id;
            }
        });
    };

    var changeDishLifeCycle = function (dishId, state) {
        $.ajax({
            url: "/publisher/apis/asset/" + dishId + "/change-state?type=dish&lifecycle=DishLifeCycle&nextState=" + state,
            method: "POST",
            contentType: "text/html; charset=utf-8"
        });
    };
</script>
