<div class="row">
        
	<!-- my dishes -->
	<h3 class="section-head">My Integrations</h3>

    {{#if assets}}
                    {{#each assets}}
                        <div style="width:200px; float:left; margin-right:20px;">
                                <a href='{{url ""}}/assets/{{../rxt/shortName}}/control_panel/{{this.id}}' id='titleText' title="{{this.attributes.overview_name}}"></a>
                                <div class="lbl-thumb-asset-img">
                                    <img src='{{this.attributes.overview_thumbnail}}' alt="...">
                                </div>
                                <div>
                                    <a href='{{url ""}}/assets/{{../rxt/shortName}}/control_panel/{{this.id}}'  id='titleText' title="{{this.attributes.overview_name}}">
                                        <h3 class="ast-name">
                                            <span>
                                                <script>
                                                var str = "{{this.attributes.overview_displayname}}";
                                                if(str.length>30)
                                                {
                                                    str = str.substring(0, 40) + '...';
                                                }
                                                else{
                                                    str += '<br/>';
                                                }
                                                    document.write(str);
                                                </script>
                                            </span>
                                        </h3>
									</a>
								</div>

                            {{#ifCondition this.lifecycleState "Active"}}
                                <span class="lifecycle-state" style="color: black"><img src="/publisher/extensions/assets/dish/themes/default/img/green_active.jpg" width="23px" height="23px" style="margin-right: 10px"><medium><i class="icon-circle lc-state-{{this.lifecycleState}}"></i>{{this.lifecycleState}}</medium></span>
                            {{else}}
                                <span class="lifecycle-state" style="color: black"><img src="/publisher/extensions/assets/dish/themes/default/img/red_deactivate.png" width="20px" height="20px" style="margin-right: 10px"><medium><i class="icon-circle lc-state-{{this.lifecycleState}}"></i>{{this.lifecycleState}}</medium></span>
                            {{/ifCondition}}

                        </div>
                    {{/each}}
				
    {{else}}
        <div class="no-dishes">
            <p>You have no integrations in your Dashboard. Create your own dish by going to the <a href="/publisher/../store/t/carbon.super">Integration Template store</a> and selecting a template.</p>
		</div>
	{{/if}}
	<!-- my dishes -->
		
	<br style="clear:both"/>

    <!-- Listing connections -->

			<h3 class="section-head">My Connections</h3>

			{{#if connectionAssets}}
				{{#each connectionAssets}}
						<div class="ctrl-my-connections">
							<a href='{{url ""}}/assets/connection/details/{{this.id}}' id='titleText' title="{{this.attributes.overview_displayname}}">
								<img src="{{this.attributes.overview_thumbnail}}" alt="...">
							</a>
						</div>
				{{/each}}
			{{/if}}
        

		<br style="clear:both"/>

</div>