<!-- header -->
<header>
    <div class="row wr-global-header">
        <div class="col-sm-9 app-logo">
            <a href='{{url ""}}{{meta.landingPage}}'>
                <img src="{{url "/themes/default/img/logo.png"}}" />
                <h2 class="app-title">Integration Cloud</h2>
            </a>
        </div>

        <div class="col-sm-1">
            <a href="{{url ""}}/../store/t/{{tenentDomainInfo}}">
                <div class="auth-img">
                    {{t "My Store"}}
                    <i class="fa fa-shopping-cart">&nbsp;</i>
                </div>
            </a>
        </div>

        <div class="col-sm-1">
            <a href="{{url "/asts/dish/dashboard"}}">
                <div class="auth-img">
                    {{t "Dashboard"}}
                    <i class="fa fa-dashboard">&nbsp;</i>
                </div>
            </a>
        </div>

        <div class="col-sm-1 wr-auth-container">
            <div class="wr-auth pull-right">
                <a href="#" data-toggle="dropdown" class="">
                    <div class="auth-img">
                        <span>{{cuser.username}}</span>&nbsp;&nbsp;<i class="fa fa-user fa-lg"></i>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <div class="cu-arrow"></div>
                    <div class="dropdown-menu-content">
                        <a class="filter-item" onclick="window.location.href='{{url "/logout"}}'" href="#">{{t "Sign out"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /header -->



