<!-- header -->
<header>
    <div class="row wr-global-header">
        <div class="col-sm-5 app-logo">
            <a href='{{url ""}}{{meta.landingPage}}'>
                <img src="{{url "/themes/default/img/logo.png"}}" />
                <h2 class="app-title">Integration Cloud</h2>
            </a>
        </div>

        <div class="col-sm-6 pull-right">
		
            <div class="wr-auth pull-right">
                <a href="#" data-toggle="dropdown" class="">
                    <div class="auth-img">
                        <span>{{cuser.username}}</span>&nbsp;&nbsp;<i class="fa fa-user fa-lg"></i>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <div class="cu-arrow"></div>
                    <div class="dropdown-menu-content">
                        <a class="filter-item" onclick="window.location.href='{{url "/logout"}}'" href="#">{{t "Sign out"}}</a>
                    </div>
                </div>
            </div>
			
            <a href="{{url ""}}/../store/t/{{tenentDomainInfo}}">
                <div class="auth-img pull-right">
                    {{t "My Store"}}
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-store fw-stack-1x"></i>
                    </span>
                </div>
            </a>
       
            <a href="{{url "/assets/dish/dashboard"}}">
                <div class="auth-img pull-right">
                    {{t "Dashboard"}}
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-computer fw-stack-1x"></i>
                    </span>
                </div>
            </a>
        
        </div>
    </div>
</header>
<!-- /header -->



