<h3 class="h-left-nav-title">Configuring Integration</h3>

<!-- secondary header - app bar -->

<nav class="navbar navbar-default navbar-themed">
    <div>

        <div id="navbar" class="navbar-collapse collapse">

            <div class="wr-action-btn-bar">
                <ul class="nav navbar-nav">

                    {{#each leftNav}}
                        <li>
                            <a id="{{this.id}}" href='{{url ""}}{{this.url}}' class="cu-btn {{this.iconClass}}">
                                <i style="width:50px; height:50px; border-radius:4px" class="{{this.iconClass}}">&nbsp;</i>{{this.name}}
                            </a>
                        </li>
                    {{/each}}

                </ul>
            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>
