<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar affix-top">
        <div class="wr-action-container">
            <div class="wr-action-btn-bar">
                <a class="cu-btn page-title" href="../control_panel/{{assets.id}}">
                    <span class="fw-stack"></span>
                    Configuring Integration
                </a><a href='../dashboard' class="cu-btn {{this.iconClass}}">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-cancel fw-stack-1x"></i>
                    </span>
                    Cancel
                </a>				
            </div>
        </div>
    </div>
</div>


<!--

	<div class="row wr-wizard">
		<div class="col-md-3 col-xs-3">
			<div class="itm-wiz itm-wiz-current"><div class="wiz-no">1</div><div class="wiz-lbl hidden-xs"><span>Download and Install Agent</span></div></div>
			<br class="c-both" />
		</div>
		<div class="col-md-3 col-xs-3">
			<a id="{{this.id}}" href='{{url ""}}{{this.url}}' class="xcu-btn {{this.iconClass}}"><div class="itm-wiz"><div class="wiz-no">2</div><div class="wiz-lbl hidden-xs"><span>{{this.name}}</span></div></div></a>
			<br class="c-both" />
		</div>
		<div class="col-md-3 col-xs-3">
			<div class="itm-wiz"><div class="wiz-no">3</div><div class="wiz-lbl hidden-xs"><span>Login to Mobile Device Manager</span></div></div>
			<br class="c-both" />
		</div>
		<div class="col-md-3 col-xs-3">
			<div class="itm-wiz"><div class="wiz-no">4</div><div class="wiz-lbl hidden-xs"><span>Complete MDM Registration</span></div></div>
			<br class="c-both" />
		</div>		
	</div>

-->
				<div class="container">
					<div class="row wr-wizard">
                    {{#each leftNav}}
                        <div class="col-md-3 col-xs-3">
						<!-- Previous default value 1 for  <div class="wiz-no"> replaced with {{this.iconClass}} since icon class value populated with the dynamic number (Change also) -->
                            <a id="{{this.id}}" href='{{url ""}}{{this.url}}' class="xcu-btn {{this.iconClass}}"><div class="itm-wiz"><div class="wiz-no">{{this.iconClass}}</div><div class="wiz-lbl hidden-xs"><span>{{this.name}}</span></div></div></a>
                                <!--i style="width:50px; height:50px; border-radius:4px" class="{{this.iconClass}}">&nbsp;</i>{{this.name}} -->
                          
                        </div>
                    {{/each}}
					</div>
				</div>
               