<div class="wr-step-indicator">
    <!--h4>Step 1</h4-->
    <h3>Details</h3>
</div>

<form class="form-horizontal" method='post' action='{{url ""}}/apis/assets/{{assets.id}}?type=dish' id="form-update" data-redirect-url='{{url ""}}/asts/dish/set_ingredients/{{assets.id}}'>


    <fieldset class="">
        <!--img src='{{assets.tables.0.fields.banner.value}}' /-->
        <h2 class="asset-name">{{assets.tables.0.fields.displayname.value}}</h2>
        <!--label><strong>{{assets.tables.0.fields.version.value}}</strong></label-->
        <p>{{assets.tables.0.fields.description.value}}</p>
    </fieldset>


    <div id="rec-div">

        <div class="col-md-6">
            <h3 class="h-asset-sec">Source</h3>
            {{loopingRecipeImages assets.tables.1.fields "ingredients"}}
        </div>

        <div class="col-md-6">
            <h3 class="h-asset-sec">Destination</h3>
            {{loopingRecipeImages assets.tables.2.fields "results"}}
        </div>

        <input name="overview_name" type="text" value="{{assets.name}}" style="visibility: hidden" />
        <!-- Bottom Nav-bar -->
        <nav>
            <ul class="pager well well-sm">
                <!--<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>-->
                <li class="next">
                    <a href="#" id="add-form-btn" >Next <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>

    </div>

</form>

<script>


function doCheck(){
    var allFilled = true;

    var inputs = document.getElementsByTagName('input');
    for(var i=0; i<inputs.length; i++){
        if(inputs[i].type == "text" && inputs[i].value == ''){
            allFilled = false;
            break;
        }
    }

    document.getElementById("add-form-btn").disabled = !allFilled;
}

window.onload = function(){
    var inputs = document.getElementsByTagName('input');
    for(var i=0; i<inputs.length; i++){
        if(inputs[i].type == "text"){
            inputs[i].onkeyup = doCheck;
            inputs[i].onblur = doCheck;
        }
    }
};


</script>

<!-- Script to set user_ids' of connection -->
<script>
    function getQueryParams(qs) {
        qs = qs.split("+").join(" ");

        var params = {}, tokens,
                re = /[?&]?([^=]+)=([^&]*)/g;

        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])]
                    = decodeURIComponent(tokens[2]);
        }

        return params;
    }

    var query = getQueryParams(document.location.search);

    if(query.id != null && query.value != null){
        // Set values
        var userIdText = document.getElementById(query.id);
        userIdText.setAttribute("value", query.value);

    }

        var leftPaneItem = document.querySelectorAll("ul.nav-list li")[0];
		var leftPaneItemA = document.querySelectorAll("ul.nav-list li a")[0];
        leftPaneItemA.style.backgroundColor="#444444";
        leftPaneItem.style.borderRadius="0px";
        leftPaneItem.style.border="0px solid #e4e4e4";
		leftPaneItemA.style.color="white";
</script>